body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0px -10px;
}

.logo{
  height: 60px;
  width: auto;
}

.menu{
  padding: 0px 20px ;
  font-weight: 550;
  color: #D02025;
}
.About{
  width: 1000px;
  margin: auto;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fefefe;
}

.hero-section{
 margin: 30px;
}

.hero-h3{
  color: #D02025;
  font-size: 25px;
}

.hero-p{
  font-weight: 350;
  line-height: 1.5;
  font-family: system-ui;
  color: #4a4a4a;
}

.team-h3{
  color: #D02025;
  font-size: 25px;
}

.sangam{
  margin: -30px 75px;
}

.team-h4{
  color: #D02025;
}

.ceo{
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.team-p{
  font-weight: 350;
  font-family: system-ui;
  color: #4a4a4a;
  margin-top: -12px;
}

.team{
  display: flex;
}


.management{
  width: 1000px;
}